<!DOCTYPE html>

<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet'>
		<link href="http://s3.amazonaws.com/codecademy-content/courses/ltp2/css/bootstrap.min.css" rel="stylesheet">
		<link href="style.css" rel="stylesheet">
	</head>

	<body>

		<div class="header">
			<div class="container">
				<ul class="nav nav-tabs">

					<li><a href="/">Home</a></li>
					<li><a href="/create">CreateAPost</a></li>
					<li><a href="/older">AllPosts</a></li>

					<li><a href="{{login_url}}"> Log In </a></li>
					<li><a href="{{logout_url}}"> Log Out </a></li>
					<li><a href="/rss"> RSS </a></li>


				</ul>
			</div>
		</div>
		
		<div class="jumbotron">
			<div class="container">
				
		<h1>Welcome to Blog!</h1>
		<a href="/">Back to Home</a>
		<h2>Search Results - Most Recent</h2>
		<hr />
		{% for post in posts %}
			<h3>{{post.title}}</h3>
				<p>{{post.brief}}</p>
				<p>Tags:{{post.tag}}</p>
				<p>Date: {{post.adddate.strftime("%H:%M:%S on %B %d, %Y")}}<p>
		{%endfor%}
		<h3><a href="/searcholder?tag={{stag}}">Click here for all results</a></h3>
		</div>
		</div>
	</body>
</html>